/tmp

# dependencies
/node_modules
/bower_components

# misc
.DS_Store
/.sass-cache
npm-debug.log
dist/
/.idea
.local_only
.publish

# virtual environ
venv

# csv files
doee_scripts/*.csv

# mustache templated files ... these get generated into /dist by gulp
src/styles/main.scss
src/app/router.js
