// collecting all the mobile overrides in one place

@mixin small {
  outline: 3px dotted blue;
}

@mixin medium {
  outline: 3px dotted red;
}

@mixin large {
  outline: 3px dotted cyan;
}

@mixin xlarge {
  outline: 2px dotted magenta;
}

#header.title,
#map-category-controls,
#year-select-container,
#map-controls-bar {
  @include small;

  @include media($medium-screen-up) {
    & {
      @include medium;
    }
  }
  @include media($large-screen-up) {
    & {
      @include large;
    }
  }
  @include media($xlarge-screen-up) {
    & {
      @include xlarge;
    }
  }
}
