.year-control {
  border-bottom: 0.1em solid transparent;
  line-height: 1;

  li {
    position: relative;
    display: inline-block;
  }

  input {
    display: none;
  }

  label {
    line-height: 1;

    &::after {
      height: 0.5em;
      width: 0.5em;
      border-radius: 50%;
      display: block;
      content: " ";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-top: -0.2em;
      margin-left: -0.25em;
    }
  }

  li + li {
    margin-left: 0.75em;
  }
}

.year-control {
  font-weight: 500;
  border-bottom-color: rgba(darken($theme-color, 15), 0.7);
  text-align: center;

  label {
    @extend %disable-user-select;
  }

  input + label {
    cursor: pointer;
    color: darken($theme-color, 10);
    opacity: 0.85;
    margin-bottom: 0.4em;

    &::after {
      opacity: 0.6;
      background-color: darken($theme-color, 15);
    }
  }

  input:checked + label {
    color: white;
    opacity: 1;
    cursor: default;

    &::after {
      opacity: 1;
      background-color: white;
    }
  }
}

.year-dropdown {
  display: none;
}

@media only screen and (max-width: $medium-screen) {

  .year-control {
    display: none;
  }
  
  #year-select-container {
    width: 100px;
    height: 100%;
    margin: 0 5px;
    top: 44%;
  }

  .year-dropdown {
    display: block;
    color: white;
  }

  .current-year {
    position: absolute;
    font-size: 20px;
    top: 17%;
    left: 40%;
  }

  #calendar-svg {
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 25px;
  }

  .year-dropdown-control {
    display: none;
    position: absolute;
    border-top: none;
    background-color: $blue;
    width: 100px;
    padding: 11px 16px;
    z-index: 1;
    top: 100%;

    a {
      cursor: pointer;
      font-family: inherit;
      font-weight: bold;
      color: white;
    }
    a:hover {
      color: $action-color;
    }
  }

  #year-select-container:hover .year-dropdown-control {
      display: block;
  }
}
